# Configuration de la base de données PostgreSQL
DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_NAME=rakuten
DATABASE_USER=mlops
DATABASE_PASSWORD=mlops

# Configuration MLflow
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=rakuten_classification

# Configuration de l'API
API_HOST=0.0.0.0
API_PORT=8000
API_WORKERS=4

# Configuration des modèles
MODEL_DIR=models
DEFAULT_MODEL=lr_model_final.joblib

# Logs
LOG_LEVEL=INFO
