########################################
# Environnements / configuration locale
########################################
venv_raku310/
venv/
.venv*/
env/
ENV/

# Fichiers d'environnement (si utilisés)
*.env

########################################
# Python / bytecode / métadonnées
########################################

__pycache__/
*.py[cod]
*.egg-info/

########################################
# Données lourdes / brutes
########################################
rakuten_dump.sql
data/raw/**
!data/raw/
!data/raw/*.dvc
data/images/
data/X_train_update_with_imgstats.csv
data/image_object_dims.csv

########################################
# OS / fichiers système
########################################

.DS_Store
Thumbs.db

########################################
# Résultats / artefacts de run
########################################

results/
reports/
artifacts/

########################################
# Modèles / poids / arrays
########################################

models/*.joblib
*.npy
*.npz
*.pt
*.h5
*.pkl

########################################
# Divers spécifiques au repo
########################################

Scripts perso.raku

########################################
# Airflow
########################################
# ignore airflow logs but keep the directory
airflow/logs/*
!airflow/logs/.gitkeep
